.container {
    background-color:lightgray;
    width: 95%;
}

.subcontainer {
    display: flex;
}



input {
    width: 95%;
    height: 40px;
}

.subcontainer button, .button_container button {
    background-color:green;
    border: none;
    height: 40px;
    border-radius: 6%;
}

ul {
    list-style: none;
}

td input {
    line-height: 10px;
}

.button_container {
    display: flex;
    justify-content: end;
}