.container {
    background-color:lightgray;
    width: 75%;
}

.subcontainer {
    display: flex;
}

input {
    width: 95%;
    height: 40px;
}

button {
    background-color:green;
    border: none;
    height: 40px;
    border-radius: 6%;

}

ul {
    list-style: none;
}

td input {
    line-height: 10px;
}